@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v19/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp9s8WR32kXWdycuJDA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v19/QlddNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLyya15IDhunA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
	--black: #222;
	--white: #F5F4F2;
	--whiter: #FFFFFF;
	--link-color: #E47D7D;
	--link-color-sub: #0079DA;
}

html {
	background: var(--white);
	font-size: 62.5%;
}

html, body {
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	transform: translate3d(0,0,0);
}

body {
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	color: var(--black);
	line-height: 1.5;
}

.top-header {
	position: relative;
	text-align: center;
	border-bottom: 1px solid lightgray;
	padding: 1rem;
	background: var(--whiter);
}

.top-header--fancy {
	border-top: 5px solid transparent;
}

.top-header--fancy::before {
	background: linear-gradient(120deg, rgba(0,121,218,1) 0%, rgba(228,125,125,1) 100%);
	content: '';
	position: absolute;
	width: 100%;
	height: 5px;
	top: -5px;
	left: 0;
}

/* theme switcher that only works partially */

.theme-switcher {
	color: var(--black);
	position: absolute;
	cursor: pointer;
	user-select: none;
	z-index: 2;
	top: 1.4rem;
}

.theme-switcher__input{ display: none; }

.theme-switcher__label{ right: 3rem; }

.theme-switcher__label:after {
	position: absolute;
	right: 4rem;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	background-color: var(--black);
	content: "";
}

.theme-switcher__input:checked ~ * {
	--black: #F5F4F2;
	--white: #222;
	--whiter: #606060;
}

.top-footer {
	text-align: center;
	padding: 1rem;
	font-size: 0.7em;
	color: gray;
}

main {
	max-width: 700px;
	padding-left: 3rem;
	padding-right: 3rem;
	margin: auto;
}

.title{ ; }

.title--underline {
	border-bottom: 1px solid lightgray;
}

.link{ ; }

.link--fancy {
	text-decoration: none;
	color: var(--link-color);
	border-bottom: 1px solid var(--link-color);
}

.link--fancy:hover,
.link--fancy:focus {
	color: var(--link-color-sub);
	border-bottom: 3px solid var(--link-color-sub);
}

/* code highlight */
main code,
main kbd,
main pre,
main samp {
	font-family: 'Inconsolata', monospace;
	font-size: 1em;
	background: var(--whiter);
}

main pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

main pre,
main blockquote {
	padding-right: 1em;
	page-break-inside: avoid;
	line-height: 1.15;
}

/* dark theme! */

@media (prefers-color-scheme: dark) {
	html {
		--black: #F5F4F2;
		--white: #222;
		--whiter: #606060;
	}
}

/* not my fault... */

.codehilite {background:var(--whiter); color: var(--black);}
.codehilite .hll {background:#ffffcc;}
.codehilite .c{color:#999988;font-style:italic}
.codehilite .err{color:#a61717;background:#e3d2d2}
.codehilite .k{font-weight:bold}
.codehilite .o{font-weight:bold}
.codehilite .cm{color:#999988;font-style:italic}
.codehilite .cp{color:#999999;font-weight:bold}
.codehilite .c1{color:#999988;font-style:italic}
.codehilite .cs{color:#999999;font-weight:bold;font-style:italic}
.codehilite .gd{color:#000000;background:#ffdddd}
.codehilite .ge{font-style:italic}
.codehilite .gr{color:#aa0000}
.codehilite .gh{color:#999999}
.codehilite .gi{color:#000000;background:#ddffdd}
.codehilite .go{color:#888888}
.codehilite .gp{color:#555555}
.codehilite .gs{font-weight:bold}
.codehilite .gu{color:#800080;font-weight:bold}
.codehilite .gt{color:#aa0000}
.codehilite .kc{font-weight:bold}
.codehilite .kd{font-weight:bold}
.codehilite .kn{font-weight:bold}
.codehilite .kp{font-weight:bold}
.codehilite .kr{font-weight:bold}
.codehilite .kt{color:#445588;font-weight:bold}
.codehilite .m{color:#009999}
.codehilite .s{color:#dd1144}
.codehilite .n{color:#333333}
.codehilite .na{color:teal}
.codehilite .nb{color:#0086b3}
.codehilite .nc{color:#445588;font-weight:bold}
.codehilite .no{color:teal}
.codehilite .ni{color:purple}
.codehilite .ne{color:#990000;font-weight:bold}
.codehilite .nf{color:#990000;font-weight:bold}
.codehilite .nn{color:#555555}
.codehilite .nt{color:navy}
.codehilite .nv{color:teal}
.codehilite .ow{font-weight:bold}
.codehilite .w{color:#bbbbbb}
.codehilite .mf{color:#009999}
.codehilite .mh{color:#009999}
.codehilite .mi{color:#009999}
.codehilite .mo{color:#009999}
.codehilite .sb{color:#dd1144}
.codehilite .sc{color:#dd1144}
.codehilite .sd{color:#dd1144}
.codehilite .s2{color:#dd1144}
.codehilite .se{color:#dd1144}
.codehilite .sh{color:#dd1144}
.codehilite .si{color:#dd1144}
.codehilite .sx{color:#dd1144}
.codehilite .sr{color:#009926}
.codehilite .s1{color:#dd1144}
.codehilite .ss{color:#990073}
.codehilite .bp{color:#999999}
.codehilite .vc{color:teal}
.codehilite .vg{color:teal}
.codehilite .vi{color:teal}
.codehilite .il{color:#009999}
.codehilite .gc{color:#999;background:#EAF2F5}
